version: 2

jobs:
  build:
    docker:
      - image: ubuntu:16.04
    steps:
      - run:
        name: Update OS deps && Install Swift deps
        command: apt-get -qq update && apt-get -qq -y install make lsb-release curl git libicu55 libxml2 libcurl4-openssl-dev libc6-dev clang
      - checkout
      - run:
        name: Compile code
        command: swift build

workflow:
   version: 2
   build:
     jobs:
       - build
